@import "./base.css";

#cor1{
  color: red;
}
main{
  background-color: black;
}
h2{
  color: #ffff;
}
img{
  width: 300px;
  height: 400px;
}
#logonet{
  width: 150px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 30px;
  margin-bottom: 20px;
}
